<section class="section section_margin">
    <div class="content_card">
        <div class="content_card-bg_wrapper">
            <img src="~/img/spb.jpg" alt="german" class="content_card-bg_image" />
            <div class="content_card-bg_gradient"></div>
        </div>
        <div class="content_card-content">
            <p class="list-title">
                В Interesse вы
            </p>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list">
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            найдете увлеченных преподавателей и методики, доказавшие свою эффективность
                        </li>
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            получите качественные знания и международные сертификаты
                        </li>
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            научитесь хорошо и правильно говорить и понимать
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list">
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            будете заниматься в мини-группах, индивидуально или в формате семейного занятия
                        </li>
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            встретите новых интересных друзей
                        </li>
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            сможете участвовать в разговорных клубах, смотреть и обсуждать фильмы и песни на иностранных языках, совмещать очное обучение и занятия онлайн
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>