<section class="section">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="tiles">
                <div class="tile tile-image lg-max">
                    <img src="~/img/flags/germany.jpg" alt="german flag" class="image-cover" />
                </div>
                <div class="tile tile-feature">
                    <div class="tile-feature-content">
                        Многолетнее качество и современные методики
                    </div>
                </div>
                <div class="tile tile-feature">
                    <div class="tile-feature-content">
                        Более 1,5 тысяч успешных выпускников
                    </div>
                </div>
                <div class="tile tile-image lg-max">
                    <img src="~/img/flags/uk.png" alt="britain flag" class="image-cover" />
                </div>
                <div class="tile tile-feature">
                    <div class="tile-feature-content">
                        Преподаватели с высшим лингвистическим и педагогическим образованием и преподаватели-носители языка
                    </div>
                </div>
                <div class="tile tile-image lg-max">
                    <img src="~/img/flags/italy.jpg" alt="italian flag" />
                </div>
                <div class="tile tile-feature">
                    <div class="tile-feature-content">
                        Международные экзамены и сертификаты
                    </div>
                </div>
                <div class="tile tile-image lg-max">
                    <img src="~/img/flags/spain.jpg" alt="spanish flag" class="image-cover" />
                </div>
                <div class="tile tile-feature">
                    <div class="tile-feature-content">
                        Совместные программы с зарубежными языковыми институтами-партнерами
                    </div>
                </div>
                <div class="tile tile-feature">
                    <div class="tile-feature-content">
                        Обучение очно и онлайн
                    </div>
                </div>
                <div class="tile tile-image lg-max">
                    <img src="~/img/flags/france.jpg" alt="french flag" />
                </div>
                <div class="tile tile-feature">
                    <div class="tile-feature-content">
                        Абонементная система
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>