<section class="section">
    <div class="row">
        <div class="col-md-6">
            <div class="content_card">
                <div class="content_card-bg_wrapper">
                    <img src="~/img/flags/german.jpg" alt="german" class="content_card-bg_image" />
                    <div class="content_card-bg_gradient"></div>
                </div>
                <p class="content_card-title">
                    Курсы немецкого языка в Санкт-Петербурге
                </p>
                <div class="content_card-content">
                    <p class="list-title">
                        В школе Interesse вы научитесь
                    </p>
                    <ul class="list">
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            Живому немецкому
                        </li>
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            Интересной грамматике
                        </li>
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            Правильному произношению
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="content_card">
                <div class="content_card-bg_wrapper">
                    <img src="~/img/flags/uk.jpg" alt="english" class="content_card-bg_image" />
                    <div class="content_card-bg_gradient"></div>
                </div>
                <p class="content_card-title">
                    Курсы английского языка в Санкт-Петербурге
                </p>
                <div class="content_card-content">
                    <p class="list-title">
                        Мы научим
                    </p>
                    <ul class="list">
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            Говорить на современном английском языке
                        </li>
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            Подготовим к экзаменам
                        </li>
                        <li class="list-item">
                            <span class="list-marker">
                                <i class="fas fa-check"></i>
                            </span>
                            Откроем мир новых возможностей
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>