@page
@model Interesse.App.Pages.Admin.IndexModel

<section class="section">
    <div class="row">
        <div class="col-xl-6 offset-xl-3">
            <div class="regular_card">
                <div class="tz-panel">
                    <p class="tz-panel-title">
                        interesse.ru
                    </p>
                    <p class="tz-panel-line">
                        v1.0: 30.07.2017
                    </p>
                    <p class="tz-panel-line">
                        v2.0: 06.09.2020
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>