<footer class="footer">
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-4">
                    &copy; Interesse, @DateTime.Now.Year
                </div>
                <div class="col-4">
                    <p class="created_by">
                        created by
                        <a href="http://sevastyanov-web.ru/" target="_blank" class="link created_by-link">
                            Mark Sevastyanov
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>