@font-face {
  font-family: 'Idealist';
  src: url("/css/fonts/IdealistSansLight.ttf"); }

html {
  height: 100%; }

html, body {
  font-family: "Idealist"; }

body {
  background-color: #f9f9f9;
  position: relative;
  min-height: 100%; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.margin-auto {
  margin: 0 auto; }

.admin_body {
  padding-bottom: 80px; }

@media (max-width: 991px) {
  .lg-max {
    display: none; } }

.modal-content {
  border-radius: 1px; }

#contacts-map {
  margin: 0 -15px 0 -15px;
  width: calc(100% + 30px);
  height: 500px; }

a:hover {
  text-decoration: none; }

.grey {
  color: #a5a5a5; }

.row.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

.row.equal > [class*='col-'] {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }

.btn {
  box-shadow: none !important;
  border-radius: 2px;
  padding: 3px 10px; }

.btn-primary {
  background-color: #794b88 !important;
  border-color: #794b88 !important;
  transition: 0.1s;
  color: #fff !important; }
  .btn-primary:hover {
    background-color: #54355f !important;
    border-color: #54355f !important;
    transition: 0.1s; }

.btn-max {
  font-size: 1em;
  padding: 5px 15px; }

.application-text {
  font-size: 1.2em; }
  .application-text span {
    font-size: 1.4em;
    text-transform: uppercase; }

.application-success {
  color: #00b100; }

.application-error {
  margin: 0;
  color: #b10000;
  font-size: 1.1em; }

.application_item {
  padding-top: 35px !important;
  height: 100%; }
  .application_item.read {
    background-color: #ffe4e2; }
  .application_item.success {
    background-color: #deffde; }
  .application_item-actions {
    position: absolute;
    top: 0;
    right: 0; }
  .application_item-name {
    font-size: 1.4em;
    margin: 0; }
  .application_item-phone {
    font-size: 1.4em;
    margin: 0; }
  .application_item-date {
    position: absolute;
    top: 5px;
    left: 15px;
    color: #929292;
    font-size: 0.9em; }

.form-inline {
  display: inline-block; }

.form-label {
  font-size: 0.9em;
  margin-bottom: 0;
  color: #7b7b7b; }
  .form-label span {
    font-size: 1.3em;
    color: #ff3131;
    margin-left: -3px; }

.form-control {
  border-radius: 1px;
  box-shadow: none !important; }

.form-image {
  width: 300px;
  border-radius: 1px; }

.form-one-line {
  display: flex; }
  .form-one-line input {
    width: 100%; }
  .form-one-line button {
    margin-left: 10px; }

@media (min-width: 540px) {
  .form-image-wrapper {
    text-align: right; } }

.gallery-carousel img {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
  border-radius: 1px; }

.gallery-carousel .slick-next, .gallery-carousel .slick-prev {
  font-size: 40px;
  z-index: 10; }

.gallery-carousel .slick-prev {
  left: -10px; }

.gallery-carousel .slick-next {
  right: 10px; }

.gallery-carousel .slick-prev:before, .gallery-carousel .slick-next:before {
  color: #000;
  font-size: 40px; }

.gallery-carousel .slick-prev:after,
.gallery-carousel .slick-next:after {
  font-size: 30px; }

.dropdown-menu {
  border-radius: 1px;
  background-color: rgba(64, 64, 64, 0.9); }

.dropdown-item {
  color: #fff;
  transition: 0.1s;
  text-transform: uppercase;
  font-size: 1.1em; }
  .dropdown-item:hover {
    color: #dedede;
    background-color: initial;
    transition: 0.1s; }

.field-validation-error {
  color: #b10000; }

.input-validation-error {
  border-color: #b10000; }

.table-actions {
  text-align: right;
  min-width: 260px; }

.image-contain {
  object-fit: contain; }

.image-cover {
  object-fit: cover; }

.header_main {
  position: relative; }
  .header_main-back {
    filter: brightness(0.5); }
  .header_main-carousel img {
    display: block;
    height: 700px;
    width: 100%;
    object-fit: cover; }
  .header_main-contact {
    position: absolute;
    top: 60px;
    right: 40px;
    color: #fff;
    text-align: right;
    z-index: 1; }
    @media (max-width: 991px) {
      .header_main-contact {
        top: initial;
        bottom: 0; } }
    .header_main-contact-city {
      font-size: 1.1em;
      margin-bottom: 0; }
    .header_main-contact-phone {
      color: #fff;
      font-size: 1.6em;
      display: block;
      margin-top: -5px; }
    .header_main-contact-email {
      color: #fff;
      font-size: 1.1em;
      display: block;
      margin-top: -5px; }
    .header_main-contact-phone, .header_main-contact-email {
      transition: 0.1s; }
      .header_main-contact-phone:hover, .header_main-contact-email:hover {
        color: #dedede !important;
        transition: 0.1s; }
  .header_main-social {
    position: absolute;
    top: 60px;
    left: 40px;
    z-index: 1; }
    @media (max-width: 767px) {
      .header_main-social {
        top: 8px;
        right: 8px;
        left: initial; } }
    .header_main-social > a {
      margin-right: 10px;
      background-color: #ffffff;
      color: #131313;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 1.2em;
      display: inline-block;
      transition: 0.1s;
      border-radius: 1px;
      text-align: center;
      border-radius: 2px; }
      .header_main-social > a:hover {
        background-color: #e8e8e8;
        transition: 0.1s; }
  .header_main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    .header_main-nav .navbar-collapse {
      justify-content: center; }
    .header_main-nav .nav-item {
      margin: 0 7px; }
    .header_main-nav .nav-link {
      color: #fff !important;
      text-transform: uppercase;
      font-size: 1.2em;
      transition: 0.1s;
      padding: .5rem .5rem;
      border-radius: 5px; }
      .header_main-nav .nav-link.warning {
        background-color: #ffe4e2; }
      .header_main-nav .nav-link:hover {
        color: #dedede !important;
        transition: 0.1s; }
    @media (min-width: 768px) {
      .header_main-nav .navbar-nav {
        flex-wrap: wrap;
        justify-content: center; } }
    @media (max-width: 767px) {
      .header_main-nav .navbar-collapse {
        background-color: rgba(51, 51, 51, 0.85);
        z-index: 2; } }
    @media (max-width: 767px) {
      .header_main-nav .navbar-toggler {
        color: #fff;
        border-color: transparent;
        border-radius: 1px;
        background-color: #ffffff85;
        outline: none !important; } }
  .header_main-content {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 50px;
    text-align: center; }
  .header_main-logo {
    width: 300px;
    margin-bottom: 30px; }
    @media (max-width: 500px) {
      .header_main-logo {
        width: 250px; } }
  .header_main-title {
    color: #fff;
    font-size: 2.2em;
    width: 500px;
    display: inline-block; }
    @media (max-width: 600px) {
      .header_main-title {
        font-size: 1.8em;
        width: initial; } }
  .header_main-btn {
    margin-top: 30px;
    font-size: 1.2em;
    padding: 10px 30px;
    text-transform: uppercase; }

.header_secondary .header_main-carousel img {
  height: 400px; }

@media (max-width: 767px) {
  .header_secondary .header_main-content {
    padding: 0; }
  .header_secondary .header_main-contact {
    font-size: 0.78em;
    right: 20px; } }

.regular_card {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  -moz-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  border-radius: 5px;
  overflow: hidden;
  padding: 15px; }
  .regular_card-actions {
    text-align: right;
    margin-bottom: 15px; }
  .regular_card-message {
    text-align: center;
    color: #828282;
    font-size: 1.2em; }
  .regular_card-social {
    margin-top: 20px; }
    .regular_card-social table {
      margin: 0;
      float: right; }

.content_card {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  -moz-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  border-radius: 5px;
  overflow: hidden; }
  .content_card-bg_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15%;
    object-fit: cover; }
    @media (max-width: 991px) {
      .content_card-bg_wrapper {
        width: 25%; } }
    @media (max-width: 650px) {
      .content_card-bg_wrapper {
        top: initial;
        left: 0;
        width: 100%;
        height: 150px; } }
  .content_card-bg_image {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .content_card-bg_gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    background: -moz-linear-gradient(131deg, rgba(255, 255, 255, 0.588673) 1%, rgba(0, 0, 0, 0.25534) 100%);
    background: -webkit-linear-gradient(131deg, rgba(255, 255, 255, 0.588673) 1%, rgba(0, 0, 0, 0.25534) 100%);
    background: linear-gradient(131deg, rgba(255, 255, 255, 0.588673) 1%, rgba(0, 0, 0, 0.25534) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1); }
  .content_card-content {
    padding: 15px 15px 45px;
    width: 85%;
    font-size: 1.1em; }
    @media (max-width: 991px) {
      .content_card-content {
        width: 75%; } }
    @media (max-width: 650px) {
      .content_card-content {
        width: 100%;
        padding-bottom: 150px; } }
  .content_card-title {
    font-size: 1.2em;
    background-color: #efefef;
    padding: 3px 10px;
    width: 100%; }

.tiles {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  -moz-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap; }

.tile {
  background: white;
  height: 0;
  width: calc(100% / 6);
  padding-bottom: calc(100% / 6);
  border: 1px solid #f3f3f3; }
  @media (max-width: 1400px) and (min-width: 1200px), (max-width: 1000px) {
    .tile {
      width: calc(100% / 4); } }
  @media (max-width: 1000px) {
    .tile {
      padding-bottom: calc(100% / 4); } }
  @media (max-width: 650px) {
    .tile {
      width: calc(100% / 2); } }
  @media (max-width: 450px) {
    .tile {
      width: 100%; } }
  .tile.tile-image {
    position: relative; }
    .tile.tile-image img {
      width: 100%;
      height: 100%;
      position: absolute;
      filter: brightness(0.9); }
  .tile.tile-feature {
    position: relative; }
  .tile-feature-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px; }
    @media (max-width: 1800px) {
      .tile-feature-content {
        font-size: 1em; } }
    @media (max-width: 1600px) {
      .tile-feature-content {
        font-size: 0.9em; } }
    @media (max-width: 550px) {
      .tile-feature-content {
        font-size: 0.8em; } }

.advantage {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  -moz-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  border-radius: 5px;
  overflow: hidden; }
  .advantage-icon {
    background-color: #44c1b4;
    text-align: center;
    padding: 10px 20px;
    font-size: 3em;
    color: #fff; }
  .advantage-title {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }

.post {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  -moz-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px; }
  .post-image {
    width: 100%;
    height: 200px; }
  .post-title {
    font-size: 1.4em;
    margin-bottom: 10px;
    padding-right: 100px; }
    @media (max-width: 767px) {
      .post-title {
        font-size: 1.2em; } }
  .post-date {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 0.9em;
    color: #afafaf; }
  .post-btn {
    position: absolute;
    bottom: 10px;
    right: 25px; }
  @media (max-width: 767px) {
    .post-content {
      padding: 15px 15px 45px; } }
  .post-text {
    margin-top: 10px; }

.main_course {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  -moz-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: 0.1s;
  height: 100%; }
  .main_course:hover {
    background-color: #e8e8e8;
    transition: 0.1s; }
  .main_course-image {
    width: 100%;
    height: 200px;
    object-fit: cover; }
  .main_course-name {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 0 15px;
    text-align: center; }
  .main_course-description {
    padding: 0 15px 15px; }
  .main_course-link {
    height: 100%; }
  .main_course-link, .main_course-link:hover {
    color: #000;
    text-decoration: none; }

.teacher {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  -moz-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 100%;
  text-align: center; }
  .teacher-photo {
    width: 100%;
    height: 300px; }
  .teacher-name {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 0 15px;
    text-align: center; }
  .teacher-position {
    font-size: 1.1em;
    padding: 0 15px 15px; }
  .teacher-description {
    padding: 0 15px 15px; }

.review {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  -moz-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 100%; }
  .review-photo {
    width: 100%;
    height: 300px; }
  .review-name {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 0 15px;
    text-align: center; }
  .review-description {
    font-size: 1.1em;
    padding: 0 15px 15px; }
  .review-text {
    padding: 0 15px 15px; }

.vacancy {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  -moz-box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  box-shadow: 3px 3px 6px 1px rgba(201, 201, 201, 0.58);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px; }
  .vacancy-title {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px 15px;
    text-align: center; }
  .vacancy-description {
    font-size: 1.1em;
    padding: 0 15px 15px; }

.list {
  list-style-type: none;
  padding-left: 20px; }
  .list-title {
    font-size: 1.2em; }
  .list-item {
    margin-bottom: 5px;
    font-size: 1.05em; }
  .list-marker {
    margin-right: 5px;
    color: #794b88; }

.section {
  margin: 20px 0; }
  .section.section_margin {
    margin: 40px 0; }
  .section-title {
    margin: 20px 0;
    font-size: 1.6em;
    color: #4c4c4c; }
    .section-title.right {
      text-align: right; }
    @media (max-width: 600px) {
      .section-title {
        text-align: center !important; } }
  .section-actions {
    text-align: center;
    margin: 10px 0 40px; }

.content_page {
  margin-bottom: 20px; }
  .content_page-image {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 1px;
    object-position: center; }
    .content_page-image-wrapper {
      text-align: left; }
  .content_page-preview {
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0 20px; }
  .content_page-actions {
    text-align: center; }
  .content_page-center {
    text-align: center; }
    .content_page-center table {
      margin: 0 auto; }

.photo_wrapper {
  position: relative; }

.photo-image {
  width: 100%;
  height: 200px;
  object-fit: cover; }

.photo-delete_btn {
  position: absolute;
  top: 0;
  right: 0; }

.footer {
  border-top: 1px solid #e8e8e8; }
  .footer-top {
    background-color: #fff;
    padding: 40px; }
    @media (max-width: 991px) {
      .footer-top {
        text-align: center; }
        .footer-top > div > div {
          margin-bottom: 20px; } }
  .footer-logo {
    max-width: 250px;
    margin-bottom: 30px; }
    @media (max-width: 1200px) {
      .footer-logo {
        max-width: 200px; } }
  .footer-link {
    color: #7d7d7d;
    display: block;
    font-size: 1.1em;
    transition: 0.1s; }
    .footer-link:hover {
      color: #424242;
      transition: 0.1s;
      text-decoration: none; }
  .footer-social {
    margin-top: 30px; }
    .footer-social > a {
      margin-right: 10px;
      background-color: #794b88;
      color: #fff;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 1.2em;
      display: inline-block;
      transition: 0.1s;
      border-radius: 1px;
      text-align: center;
      border-radius: 2px; }
      .footer-social > a:hover {
        background-color: #54355f;
        transition: 0.1s; }
  .footer-bottom {
    padding: 10px 0;
    background-color: #ffffff;
    color: #696969; }
    .footer-bottom .col-4 {
      text-align: center; }
      .footer-bottom .col-4:first-child img {
        float: left; }
  .footer-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0; }
    .footer-menu-link {
      color: #4a4a4a;
      font-weight: 600;
      transition: 0.1s; }
      .footer-menu-link:hover {
        color: #000000;
        transition: 0.1s; }
  .footer-submenu {
    list-style-type: none;
    padding-left: 10px; }
    .footer-submenu-link {
      color: #7d7d7d;
      transition: 0.1s; }
      .footer-submenu-link:hover {
        color: #424242;
        transition: 0.1s; }
    .footer-submenu-title {
      color: #4a4a4a !important;
      font-weight: 600; }
  @media (max-width: 1200px) and (min-width: 992px) {
    .footer-contact {
      font-size: 0.75em; } }
  @media (min-width: 992px) {
    .footer-contact {
      text-align: right; } }
  .footer-contact-city {
    font-size: 1.1em;
    margin-bottom: 0; }
  .footer-contact-phone {
    color: #000;
    font-size: 1.6em;
    display: block;
    margin-top: -5px; }
  .footer-contact-email {
    color: #000;
    font-size: 1.1em;
    display: block;
    margin-top: -5px; }
  .footer-contact-phone, .footer-contact-email {
    transition: 0.1s; }
    .footer-contact-phone:hover, .footer-contact-email:hover {
      color: #000 !important;
      transition: 0.1s; }

.vk-group {
  text-align: right; }
  @media (max-width: 991px) {
    .vk-group {
      text-align: center; } }

#vk_groups {
  display: inline-block; }

.created_by {
  margin: 0;
  font-size: 0.8em;
  text-align: right; }
  .created_by-link {
    color: #2b2b2b;
    transition: 0.1s; }
    .created_by-link:hover {
      color: #408e92;
      transition: 0.1s;
      text-decoration: none; }
